body {
    background-color: #F5F7FA;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    width: 1200px;
    margin: 40px auto;
}

.content {
    padding: 100px 90px;
}

.aboutMe {
    margin: 0 0 40px 0;
}

.aboutMeProfession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin: 0 0 20px 0;
}

.content-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 25px 0;
}

.about-me-description {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects {
    margin: 0 0 50px 0;
}

.content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 15px 0;
}

.projects-list {
    padding: 0 0 0 17px;
}

.projects-li {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.proj-a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin: 0 0 0 5x;
}

.proj-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;    
}

.workExpirience {
    margin: 0 0 45px 0;
}

.work {
    margin: 0 0 20px 0;
    
}

.work-p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.work-palka{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

.work-h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 10px 0;
}

.work-h4-span {
    color: #FB6D3A;
}

.work-ul{
    padding: 0 0 0 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;    
}

.work-ul li {
    
}

.Education {}

.content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.education-university{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.education-course{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.techSkills {}

.softSkills {}

.sidebar {
    background-color: #1E2939;
    color: #fff;
    width: 370px;
    padding: 40px 0;
}

.side-content {
    margin: 50px 0 0 40px;
}

.side-h3 {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.side-ul {
    padding: 0 0 0 17px;
}

.side-li {
    color: #FB6D3A;
}

.side-li-text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.side-contact-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0 10px 0 0;
}

.side-contact-link {
    color: rgba(255, 255, 255, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.side-tel {
    text-decoration: none;
}